@charset "UTF-8";
/********************************************************************
 map height full
*********************************************************************/
html, body, #map {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#dimScreen {
  	display: none;
  	position: fixed;
  	padding: 0;
  	margin: 0;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	background: rgba(255, 255, 255, 0);
  	z-index: 2000;
}
#dvIntro {
  	position: fixed;
  	padding: 0;
  	margin: 0;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	background: rgb(255, 255, 255);
  	z-index: 1999;
}
/**************************************************
	buttons
**************************************************/
.map-button {
	width:54px;
	height:30px;
	position:absolute; 
	right:15px;
	z-index:1; 
	padding:5px; 
	background-color:#fff; 
	color:#333; 
	border:1px solid #333;
	font-family: Helvetica, AppleSDGothicNeo-Light, nanumgothic, NanumGothic, 나눔고딕, Dotum, 돋움, sans-serif;
	font-size:0.8em;
}
.map-button:hover { cursor: pointer; }
.map-button-on {
	background-color:rgb(42, 124, 221);
	color:#fff;
	border:1px solid #333;
	opacity:1;
}
.map-button.jijeok { top:68px; }
.map-button.map-normal { top:10px; }
.map-button.map-satellite { top:39px; }
/* 면적재기 */
.map-button.area { top:130px; }
/* 거리재기 */
.map-button.distance { top:159px; }
.naver-distance-vertex {
	position: absolute; 
	z-index: 1;
	font-size: 1px;
	line-height: 1px;
	background-color: rgb(255, 255, 255);
	border: 2px solid rgb(252, 26, 26); 
	width: 6px; 
	height: 6px; 
	left: -6px; 
	top: -4px;
}
.naver-distance-vertex-text {
	color:#ff1009;
	position: absolute;
    z-index: 1;
    padding: 2px 3px 0;
    border: 1px solid;
    background: #fff;
    font-size: 11px;
    letter-spacing: -1px;
    line-height: 14px;
    white-space: nowrap;
    top:5px;
    left:10px;
}
.naver-distance-vertex-total-text {
	color:#330066;
	position: absolute;
    z-index: 1;
    padding: 2px 3px 0;
    border: 1px solid;
    background: #fff;
    font-size: 12px;
    letter-spacing: -1px;
    line-height: 19px;
    white-space: nowrap;
    top:30px;
    left:10px;
}
.calc-distance-link {
	position: absolute;
    z-index: 1;
    padding: 2px 3px 0;
    top:30px;
    left:-15px;
}
