<div class="headArea">
	<h2>메뉴제목이 들어가는곳 menuCont01</h2>
	<button type="button" class="close">
		<i class="ambicon-015_mark_times"></i><span class="hidden">닫기</span>
	</button>
</div>
<div class="bodyArea">
	<div class="adressSArea">
		<input type="text" class="inp searchInp"  placeholder="주소를 입력해주세요" />
		<button type="button" class="searchBtn"></button>
	</div>
</div>