<div class="modal-dialog" role="document">
	<div class="modal-content">
		
		<div class="modal-header">
			<h2 class="modal-title">결제하기</h2>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<i class="ambicon-015_mark_times"></i><span class="hidden">닫기</span>
			</button>
		</div>

		<div class="modal-body">
										
							<div class="unit_tit">
								<span class="sTit color_black noBullt">서비스 이용 안내</span>
							</div>
							<div class="unit_cont bgWhite companyImgTable">
								<table class="tableStyle gridStyle  topBold center">
									<colgroup>
										<col style="width:10%;">
										<col style="width:30%;">
										<col style="width:20%;">
										<col style="width:40%;">
									</colgroup>
									<thead>
										<tr>
											<th colspan="2" class="center">구분</th>
											<th class="center">이용료</th>
											<th class="center">비고</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th rowspan="4" class="center">개별 서비스</th>
											<th class="center">투자유망지역 검색</th>
											<td>5만원 / 월</td>
											<td>도시계획시설, 토지이용규제 등 검색</td>
										</tr>
										<tr>
											<th class="center">경공매 검색</th>
											<td>5만원 / 월</td>
											<td>토지이용규제 등 검색</td>
										</tr>
										<tr>
											<th class="center">물건보기(위치보기)</th>
											<td>5만원 / 월</td>
											<td>경매/공매/실거래/건축허가</td>
										</tr>
										<tr>
											<th class="center">히트맵보기</th>
											<td>5만원 / 월</td>
											<td>공시지가/보상물건/실거래가 등</td>
										</tr>
										<tr>
											<th rowspan="2" colspan="2" class="center">전체서비스</th>
											<th class="center">월간</th>
											<td>정가: 20만원 /월  &nbsp;&nbsp; <span style="font-weight:bold; color:#ff0000;">할인가: 10만원 / 월</span></td>
										</tr>
										<tr>
											<th class="center">년간</th>
											<td>정가: 240만원 / 년  &nbsp;&nbsp; <span style="font-weight:bold; color:#ff0000;">할인가: 99만원 / 년</span></td>
										</tr>
									</tbody>
								</table>
							</div>
		
		<div class="modal-footer">
			<button type="button" id="btnPayment" class="btnstyle middle black" data-dismiss="modal" style="">결제하기</button>
		</div>
	</div>
</div>