<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<h2 class="modal-title">
				경,공매 선택
			</h2>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<i class="ambicon-015_mark_times"></i><span class="hidden">닫기</span>
			</button>
		</div>
		<div class="modal-body">
			<div class="unit">
				<div class="unit_cont">
					<div class="topInfoBox">
						해당 물건은 경,공매 모두 해당됩니다. 보시고자 하는 정보를 선택하세요.
					</div>
				</div>
				<div class="unit_cont bgWhite">
					<span class="rdchBox inline">
			<input type="radio" id="rdoJibeonSearch" name="addressType" value="N" checked />
			<label for="rdoJibeonSearch" class="labelCh"><em class="text">경매정보</em></label>
		</span>
		<span class="rdchBox inline">
			<input type="radio" id="rdoDoroSearch" name="addressType" value="R"/>
			<label for="rdoDoroSearch" class="labelCh"><em class="text">공매정보</em></label>
		</span>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btnstyle middle blue" id="btnSearchPw">찾기</button>
			<button type="button" class="btnstyle middle gray" data-dismiss="modal">취소</button>
		</div>
	</div>
</div>