<div class="headArea">
	<h2>주소검색</h2>
	<button type="button" class="close">
		<i class="ambicon-015_mark_times"></i><span class="hidden">닫기</span>
	</button>
</div>
<div class="bodyArea">
	<div class="adressSArea">
		<input type="text" class="inp searchInp"  placeholder="주소를 입력해주세요" id="txtAddressSearch"/>
		<button type="button" class="searchBtn" id="btnAddressSearch"></button>
	</div>
	
	<div class="adressSAreaResult overflow"></div>
</div>
<div class="footArea">
	<button type="button" class="btnstyle middle blue" id="btnMoveAddressToMap" disabled>지도이동</button>
	<button type="button" class="btnstyle middle gray MENU_CLOSE" data-menu="{{menuName}}">닫기</button>
</div>