<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.mssql.paymentMapper">

	<insert id="insertHotplaceServices"  statementType="CALLABLE" parameterType="Payment">
		{ call  [웹].[dbo].[USP_이용권한_등록](
			#{accountId, mode=IN, jdbcType=NVARCHAR, javaType=string},
			#{serviceType, mode=IN, jdbcType=NVARCHAR, javaType=string},
			#{serviceSubTypes, mode=IN, jdbcType=NVARCHAR, javaType=string}
		)}
	</insert>
	
	<select id="selectCoupon" parameterType="string" resultType="Coupon">
		select 쿠폰번호 couponNum, 할인단위 discountUnit, 할인값 discountValue, 사용여부 used
		  from [웹].[dbo].[발행쿠폰]
		 where 쿠폰번호 = #{couponNum}
	</select>
	
	<insert id="insertPayment" parameterType="Payment">
		insert into [웹].[dbo].[결제내역](사용자계정, 결제금액, 쿠폰사용여부, 쿠폰번호, 서비스타입, 서비스서브타입)
		values (#{accountId}, #{sum}, #{useCoupon}, #{couponNum}, #{serviceType}, #{serviceSubTypes})
	</insert>
	
	<update id="updateCoupon" parameterType="string">
		update [웹].[dbo].[발행쿠폰]
		   set 사용여부 = 'Y'
		 where 쿠폰번호 = #{couponNum}
	</update>
	
</mapper>
