<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.mssql.sampleMapper">

	<select id="selectSample2" resultType="string" parameterType="string">
        <!-- c.센터 [경도] d.센터  [위도] -->
		select concat(c.극서 , ',', d.극북 - 2*(d.극북 - d.센터),  ',', c.극서 + 2*(c.센터 - c.극서), ',', d.극북, ',', c.센터, ',',  d.센터, ',', round(rand(convert(varbinary, newid()))*10, 1))
		from 
		[표준공시지가].[dbo].[20170109표준지공시지가] a
		inner join [지번주소].[dbo].[전국지번통합] b on (b.PNU=a.PNU1)
		inner join [좌표계].dbo.[가로축] c on (c.극서=b.극서)
		inner join [좌표계].dbo.[세로축] d on (d.극북=b.극북)
		where (a.PNU1 like '11%' or a.PNU1 like '42%') and 위도 is not null
		  and c.레벨 = #{level}
		  and d.레벨 = #{level}
		order by c.극서 asc
	</select>
	
	<select id="selectSample" resultType="string" parameterType="string">
		select concat(a.극서 , ',', b.극남,  ',', a.극동, ',', b.극북, ',', a.센터, ',',  b.센터, ',', round(rand(convert(varbinary, newid()))*100, 1)) 
		  from [좌표계].dbo.가로축 a 
		 cross join [좌표계].dbo.세로축 b
		 where a.센터 between (126.980355-(0.00028118970554590118820534258415971 * (14-convert(int, #{level}))*50)) 
		 			    and (126.980355+(0.00028118970554590118820534258415971 * (14-convert(int, #{level}))*50))
		   and b.센터 between (37.566207-(0.00022526721625199522552442635951175 * (14-convert(int, #{level}))*50))
		                and (37.566207+(0.00022526721625199522552442635951175 * (14-convert(int, #{level}))*50))
		   and a.레벨 = #{level}
		   and b.레벨 = #{level}
		 order by a.극서 asc
	</select>
	
	<select id="selectGyeongmaeTest" resultType="string" parameterType="hashmap">
		select  concat(c.센터, '|', e.센터)
		  from [온비드].[dbo].[토지매각원장] a with (nolock, index (IX_토지매각원장))
		 inner join [좌표계].dbo.가로축PNU b with (nolock) on (b.PNU=a.PNU)
		 inner join [좌표계].dbo.가로축 c with (nolock) on (c.고유번호=b.가로축_고유번호 and c.레벨=13)
		 inner join [좌표계].dbo.세로축PNU d with (nolock) on (d.PNU=a.PNU)
		 inner join [좌표계].dbo.세로축 e with (nolock) on (e.고유번호=d.세로축_고유번호 and e.레벨=13)
		 where c.레벨=13
		     and c.센터 >= convert(float, #{swx})
		     and c.센터 <![CDATA[<=]]> convert(float, #{nex})
		     and e.센터 >= convert(float, #{swy})
		     and e.센터 <![CDATA[<=]]> convert(float, #{ney}) 
		 order by c.센터 asc
	</select>
</mapper>
<!-- 
select  top 10000 concat(b.경도, '□',b.위도,'□', round(rand(convert(varbinary, newid()))*10, 1))
		  from [표준공시지가].[dbo].[20170109표준지공시지가] a
    inner join [지번주소].[dbo].[전국지번통합] b on (b.PNU=a.PNU1)
         where (a.PNU1 like '11%' or a.PNU1 like '42%') and 위도 is not null
         where (a.PNU1 like #{acode} + '%') and 위도 is not null
         
         
         
         
select a.극서, a.극서+(a.센터-a.극서)*2 [극동], b.센터 [위도], b.극북, b.극북- ((b.센터-b.극북)*2) [극남], a.센터 [경도], round(rand(convert(varbinary, newid()))*100, 2) [랜덤점수] from 
[좌표계].dbo.가로축 a 
cross join [좌표계].dbo.세로축 b
where a.센터 between (126.980355-0.00625) and (126.980355+0.00625) and b.센터 between (37.566207-0.00625) and (37.566207+0.00625);


 where a.센터  between (126.980355-0.005) and (126.980355+0.005)
		   and b.센터  between (37.566207-0.0023)  and (37.566207+0.0023)
		   
		   		select top 1 concat(a.극서 , ',', b.극북 - 2*(b.극북 - b.센터),  ',', a.극서 + 2*(a.센터 - a.극서), ',', b.극북, ',', a.센터, ',',  b.센터, ',', round(rand(convert(varbinary, newid()))*100, 1)) 
		  from [좌표계].dbo.가로축 a 
		 cross join [좌표계].dbo.세로축 b
		 where a.센터 between (126.980355-0.001) and (126.980355+0.001) and b.센터 between (37.566207-0.001) and (37.566207+0.001)
		   and a.레벨 = #{level}
		 order by a.극서 asc
 -->